# API url :
https://app-hrsei-api.herokuapp.com/api/fec2/hr-rfc/
https://app-hrsei-api.herokuapp.com/api/fec2/hr-rfc2205/
# FEC Overview API key (GIT generated token):
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
## parameters are sent as a query string
