
.RPP {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Styling for interactice star rating component (Related Products and Comparisons) */

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}
/* End styling for star component (Related Products and Comparisons) */

/* Styling for Star Icon Button and X Icon Button (Related Products and Comparisons) */

button[type="submit"] {
  display: none;
}

.starIcon {
  cursor: pointer;
  transition: color 200ms;
}

.XIcon {
  cursor: pointer;
  transition: color 200ms;
}