/* h1 {
  color: white;
  background-color: black;
} */

/* OVERVIEW */
#main {
display: flex;
}

#styles-selector {
  display: flex;
}

#styles {
  display: flex;
}

#style-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: cover;
}

#price{
  text-decoration: line-through;
}

#salePrice{
  color: red;
}

#main-img{
  display: flex;
  background-image: url('https://images.unsplash.com/photo-1501088430049-71c79fa3283e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=80');
  background-size: cover;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
}

#gallery {
  height: 50px;
  width: 50px;
  margin-left: 5px;
}

.check-mark {
  height: 15px;
  width: auto;
  position: relative;
}
#stars {
  height: 20px;
  width: auto;
}

a {
  display: flex;
  height: 10px;
  width: auto;
}

.social-icon {
  padding-left: 5px;
}
/* OVERVIEW */

